<header class="w-full bg-sky-600/50 text-black font-bold font-serif uppercase text-xl">
  <nav class="block h-full w-full p-1">
    <ul class="flex gap-4 p-2 justify-end">
      <li><a class="will-change-auto flex bg-blue-600  px-5 py-2 ring ring-blue-700 hover:ring-blue-800 hover:bg-blue-800 hover:tracking-wider shadow-md shadow-white  rounded-full" routerLink="/etudiants" routerLinkActive="text-white font-extrabold ring-white">etudiants</a></li>
      <li><a class="will-change-auto flex bg-red-600 px-5 py-2 ring ring-red-700 hover:ring-red-800 hover:bg-red-800 hover:tracking-wider  shadow-md shadow-white rounded-full" routerLink="/departements" routerLinkActive="text-white font-extrabold ring-white">departements</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>

